

/* GENERAL  */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    img{
        width: 100%;
    }
    section{
        padding: 50px 0;
    }
    p{
        padding: 30px 0;
    }
    h1{
        padding-top: 20px ;
    }
/*END GENERAL  */


/*utilitys */
.red{
    background-color: red;
}
.blue{
    background-color: aqua;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: yellowgreen;
}
.black{
    background-color: black;
}

.height100{
    height: 200px;
}
 
.border-d{
    border: 2px solid black;
}
/* end utilitys */


/* HEADER  */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

.logo{
    height: 40px;
    padding: 0 20px;
}
.logo img{
    width: 80px;
    
}
.jumbo{
    margin-top: 100px;
    height: 70vh;
    padding-bottom: 100px;
    color: white;
    background-image: url(img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

/*END HEADER  */    

/* JUMBO-JET  */



/*END JUMBO-JET */

/* MAIN  */

/* HIGHEST-GAME */
.heighest-game-container{
    margin-top: 20px;
}
.heighest-game-container img{
    width: 100%;
    border-radius: 20px;
}
.border-game{
    padding: 2px;
    border-radius: 20px;
}
.border-game.active{
    border: 3px solid blue;

}
/*END HIGHEST-GAME */




/* <!-- HARDWARE-PRODUCTS --> */
    
    .slogan{
        text-transform: uppercase;
        color: aqua;
    }



    .high-product img{
        width: 100%;
    }
/* <!--END HARDWARE-PRODUCTS --> */




    /* SPONSORED-GAME  */
    .sponsored-game{
        padding: 80px 0;
        color: white;
        background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
        background-position: center;
        background-size: cover;
    }
    /*END SPONSORED-GAME  */




    /* NEW-GAMES  */
    .new-games{
        color: white;
    }
    .new-games img{
        border-radius: 20px;
    }
    /*END NEW-GAMES  */



    /* PLAYSTATION-4 */
    
    /*END PLAYSTATION-4 */

    /* PLAYSTATION-PLUS  */
    .playstation-plus{
        padding: 0 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .playstation-plus .logo-img-psplus{
        width: 70%;
    }
    .playstation-plus .banner{
        height: 100%;
        box-shadow: 10 10 10 black;
    }
    .extra-padding{
        padding: 70px 0;
    }
    .playstation-plus .left
    {
        display: inline-block;
        width: 49%;
    }
    .playstation-plus .right{
        width: 50%;
        display: inline-block;
    }
    /*END PLAYSTATION-PLUS  */

    
/*END MAIN  */


/* FOOTER */

/*END FOOTER  */