/* GENERAL  */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    img{
        width: 100%;
    }
    section{
        padding: 50px 0;
    }
    p{
        padding: 30px 0;
    }
    h1{
        padding-top: 20px ;
    }
    li{
        list-style: none;
    }
    header ul.dropdown-menu{
        width: 102%;
        border-radius: 0;
        margin: 0;
        border-color: none;
        text-align: center;
    }
    .dropdown-menu[data-bs-popper]{
        top: 96%;
        left: -1%;
    }
    header ul li{
        display: inline-block;
    }
    .navbar-light .nav-item .nav-link:hover {
        color: #0dcaf0;
        opacity: 1;
    }
    h6{
        text-transform: uppercase;
        font-weight: bold;
    }
    .chevron,
    .chevron-up{
        width: 10px;
    }
    .chevron-up{
        display: none;
        transition: 2s;
        color: #0dcaf0;
    }
    .dropdown-toggle::after{
        border-top: none;
    }
    .navbar-light .nav-item .nav-link:hover .chevron{
        display: none;
    }
    .navbar-light .nav-item .nav-link:hover .chevron-up{
        display: inline-block;
    }
    /* BONUS BUTTONS */
    .buy-game{
        padding: 3px;
        display: inline-block;
        border: solid 4px #dc354600;

    }
    .box-borders{
        border: solid 2px #dc3545;
    }
    .buy-game:hover{
        border: solid 4px #dc3545;
        
    }
    #border-pls{
        padding: 3px;
        border: 4px solid rgba(128, 128, 128, 0);
    }
    #border-pls:hover{
        border: 4px solid rgba(128, 128, 128, 1);
        transition: 1s;

    }
    #border-pls:hover #accedi {
        background-color: gray;
    }
/*    
    ! this was second code that i did because of homework and in real playstaion website it's how i write the code before.!
    .btn:hover  {
        outline: 2px solid white;
        outline-offset: -4px;
    }
    
    #accedi:hover{
        background-color: #707070;
    }

    .btn-info{
        color: white;
    } */

    /* NAV DROPDOWN BONUS */
    .dropdown, .dropend, .dropstart, .dropup{
        position: static;
    }
    
    .dropdown-menu{
        top: 96%;
    }
    .dropdown-item-playstation{
        text-decoration: none;
        color: black;
    }
    .playstation-li{
        margin: 10px 10px;
        transition: 0.3s;
    }
    .playstation-li:hover{
        box-shadow: 5px 5px 20px #707070;

    }
    .nav-item.dropdown:focus-within .nav-link.dropdown-toggle{
        color: #0dcaf0;
    }
    .nav-item.dropdown:focus-within .chevron{
        display: none;
    }
    .nav-item.dropdown:focus-within .chevron-up{
        display: inline-block;
        transform: rotate(-180deg);
        transition: 0.3s;
    }

    #accediform{
        width: 20%;
        text-align: center;
        color: white;
        padding: 50px 0;
        right: 30px;
        top: 100%;
        border: solid white 3px;
        display: none;
    }
    #accediform:target{
        display: block;
    }
    .close-xs {
        top: 5px;
        right: 5%;
        font-weight: bold;
        border: solid white 2px;
        width: 30px;
        height: 30px;
        border-radius: 5px;
    }
    .close-xs a{
        text-decoration: none;
        color: white;
    }
/*END GENERAL  */


/*utilitys */
.red{
    background-color: red;
}
.blue{
    background-color: aqua;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: yellowgreen;
}
.black{
    background-color: black;
}

.height100{
    height: 200px;
}
 
.border-d{
    border: 2px solid black;
}
/* end utilitys */


/* HEADER  */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

.navbar-light .nav-item .nav-link{
    opacity: 1;
    color: rgba(0, 0, 0, 1);
    font-weight: bolder;
}
.logo{
    height: 40px;
    padding: 0 20px;
}
.logo img{
    width: 80px;
    
}
.jumbo{
    margin-top: 110px;
    height: 70vh;
    padding-bottom: 100px;
    color: white;
    background-image: url(img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}
/*END HEADER  */    



/* MAIN  */

/* HIGHEST-GAME */
.heighest-game-container{
    margin-top: 20px;
}
.heighest-game-container img{
    width: 100%;
    border-radius: 20px;
}
.border-game.active{
    border: 3px solid blue;

}
.border-game{
    padding: 2px;
    border-radius: 20px;
    transition: 1s;
}
.border-game:hover{
    transform: translateY(-20%);
}

/*END HIGHEST-GAME */

/* <!-- HARDWARE-PRODUCTS --> */
 
    .slogan{
        text-transform: uppercase;
        color: aqua;
    }

   .grey{
        color: #707070;
    }

    .high-product img{
        width: 100%;
    }

    .hard-ps5{
        opacity: 0.4;
        transition: 1s;
    }
    .hard-ps5:hover{
        opacity: 1;
    }
    .hard-ps5.active-hardware{
        opacity: 1;
        border-bottom: solid 1px blue;
    }
/* <!--END HARDWARE-PRODUCTS --> */




    /* SPONSORED-GAME  */
    .sponsored-game{
        padding: 80px 0;
        color: white;
        background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
        background-position: center;
        background-size: cover;
    }
    .sponsored-game img{
        width: 60%;
    }
    /*END SPONSORED-GAME  */




    /* NEW-GAMES  */
    .new-games{
        color: white;
        background-color: #1f1f1f;
    }
    .new-games img{
        border-radius: 20px;
    }
    /*END NEW-GAMES  */



    /* PLAYSTATION-4 */
    
    /*END PLAYSTATION-4 */

    /* PLAYSTATION-PLUS  */
    .playstation-plus{
        background-color: #bebcbb;
        padding: 0 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .playstation-plus .logo-img-psplus{
        width: 70%;
    }
    .playstation-plus .banner{
        height: 100%;
        box-shadow: 10 10 10 black;
    }
    .extra-padding{
        padding: 70px 0;
    }
    .playstation-plus .left
    {
        display: inline-block;
        width: 49%;
    }
    .playstation-plus .right{
        width: 50%;
        display: inline-block;
    }






    .playstation-plus.now{
        padding: 80px 80px;
        color: white;
        background-color:#161c3b ;
    }
    /*END PLAYSTATION-PLUS  */


/*END MAIN  */


/* FOOTER */
 /* COPY-RIGHTS */
    .copyrights{
        background-color: #00439c;
        color: white;
    }
    .logo-footer{
        width: 100px;
    }
    footer ul li{
        color: white;
    }
    footer ul li a{
        color: white;
        text-decoration: none;
    }

    .whitepls{
        color: white;
    }
 /*END COPY-RIGHTS */
/*END FOOTER  */




/* MEDIAQUERY */

@media (min-width:768px){
    .spacing-media{
        justify-content: space-around;
    }
}

@media (max-width:1200px){
    .playstation-plus {
        padding: 80px ;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}